<div class="main">
  <h2 class="app-title">RealTimeChatEmo</h2>
  <div class="container">
    <h1>Reset your password!!!</h1>
    <ol>
      <li>Enter your email</li>
      <li>Click on send button</li>
      <li>Check your email</li>
      <li>Click link in the email and reset your password</li>
    </ol>
    <form [formGroup]="reset" (ngSubmit)="resetEmail()">
      <input formControlName="email" placeholder="Enter your email">
      <button type="submit" [disabled]="reset.invalid">Send mail</button>
    </form>
    <div class="back-button-container">
      <button class="back-button" routerLink="/auth/login">Back</button>
    </div>
  </div>
</div>
  