<div class="main">
    <div class="nav">
        <h1>Room Status</h1>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Room Under Development</h1>
                <p class="card-text">This room is currently under development. We are working hard to get this service up and running as soon as possible. Thank you for your patience.</p>
            </div>
            <div class="card-footer">
                <button (click)="backToHomePage()">Back to Home</button>
            </div>
        </div>
    </div>
</div>